.background {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  margin: 0;
  text-align: center;
}

.App {
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 100vh;
}

.container {
  display: flex;

  justify-content: center;
  justify-items: center;
}

.recipe-container {
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto auto 15px auto;
  max-width: 30%;
  border-radius: 5px;
}

.recipe-container:hover {
  transform: scale(1.01);
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.search-input{
  min-width: 200px;
  padding: 8px 12px;
  margin-top: 10px;
  /* background-color: transparent; */
  border: solid 2px #898FBD;
  /* color: #575756;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8; */
  font-size: 16px;
  border-radius: 5px;
  }

.search-input:focus {
  outline: none;
}

.search-button {
  margin-top: 10px;
  border-radius: 12px;
  border: none;
  background-color: transparent;
  /* background-color: #E8E6D6; */
  display: block;
}

.search-button:hover {
  transform: rotate(10deg);
}

h2 {
  text-align: center;
}

.ingridients {
  display: flex;
  justify-items: center;
  list-style-type: none;
  flex-direction: column;
  margin: 10px;
  padding: 0;
  width: 100%;
}

.ingridients li {
  display: flex;
  align-items: center; 
  list-style-type: none;
  margin: 5px 0;
  background-color: #eaedf3;
  border-radius: 5px;
}

.ingridients li:hover {
  filter: brightness(110%);
}

.ingridients img {
  max-width: 30px;
  max-height: 30px;
}

.info-cont {
  position: relative;
}

.info-cont img {
  border-radius: 5px;
  width: 95%;
}

.info {
 padding: 5px;
 margin: 0 5px;
 width: 40%;
 border-radius: 5px;
 color: #30302f;
 position: absolute;
}

.calories {
 background-color: #ECE9C4;
 top: 0;
 right: 1%;
}

.cuisine {
 background-color: #D6E1E8;
 top: 15%;
 right: 1%;
}

@media (max-width: 600px) {
  .recipe-container {
    max-width: 90%;
  }
}